.bottomNavigation {
    margin-top: 1.5vh;
    position: fixed !important;
    bottom: 0vh !important;
    background-color: rgba(0, 0, 0, 0.829) !important;
    z-index: 5 !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.css-i4bv87-MuiSvgIcon-root {
    color: rgba(230, 214, 214, 0.699) !important;
}

.fatherDivPetRegister {
    margin-bottom: 20% !important;
}

.tituloMisMascotas {
    margin-top: 1%;
    font-size: 1.5rem;
    text-align: center;
    /*     font-style:oblique; */
    padding: 5% !important;
    background-color: rgba(0, 0, 0, 0.068) !important;
}