.p-dialog-visible {
  width: 100% !important;
  height: 100%;
  /*   background-color: transparent !important; */
}
.fotoMascota {
  width: 200px;
  object-fit: contain;
  border-radius: 3%;
  margin-left: 18%;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.p-dialog-visible {
  background-color: rgba(0, 0, 0, 0.274) !important;
}

.p-dialog-enter-done {
  height: 70% !important;
  box-shadow: none !important;
}

.mascotaNombrePerdida {
  font-size: 1.5rem !important;
  color: rgba(255, 255, 255, 0.975);
  text-align: center;
  position: relative !important;
  bottom: 140px !important;
  display: none;
}

.p-dialog-visible {
  /*     background-color: red !important;
 */
  margin-bottom: 30% !important;
  /*    height: 91.8vh; */
}

.p-fluid {
  /*     background-color: red; */
  display: flex;
  flex-direction: column;
}

.pi-times {
  font-size: 10px;
}

.p-dialog-header-close {
  padding: 0% !important;
  border-radius: 10% !important;
}

.dialogMascotasPerdidas {
  background-color: black !important;
  opacity: 100%;
  z-index: 545;
  height: 640px !important;
  border-radius: 40px;
}

.formContainer {
  display: block;
  margin-top: 5% !important;
  margin: auto;
  width: 100% !important;
  margin-top: 0;
  position: relative;
  bottom: 30px;
}

.sendMsg {
  position: relative !important;
  margin-top: 10px;
  margin-left: 20px !important;
  top: 30px;
}
.dialogButtons {
  position: relative !important;
  text-align: right;
}

.textArea {
  margin-top: 40px !important;
  width: 100% !important;
  height: 120px !important;
}

.photoAttachPetFound {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
  color: #9ea0a1;
  margin-bottom: 1px;
}

.divicon {
  display: flex;
  flex-direction: column;
}

.p-dialog-content {
  height: 50px !important;
}

@media screen and (min-width: 620px) {
  .contactoMascotaDialog {
    width: 100%;
  }
  .dialogMascotasPerdidas {
    width: 50% !important;
    height: 570px !important;
  }
}

@media screen and (min-width: 1200px) {
  .contactoMascotaDialog {
    width: 100%;
  }
  .dialogMascotasPerdidas {
    width: 30% !important;
    height: 570px !important;
  }
}
