.deletePetDialog {
  width: 300px !important;
  height: 200px !important;
  text-align: center;
}
.deletePetButtons {
  margin: auto !important;
  padding: 10px;
  margin-bottom: 10px !important;
}

.deleteContentDialog {
  display: none;
}

.editPetDialog {
  width: 400px;
}

.contentEditPetDialog {
  display: none;
}
.headerDialogEditPet {
}

.editPetFetchButton {
  background-color: red !important;
  margin-bottom: 0 !important;
}

.p-float-label {
  margin-bottom: 4px;
  font-size: 15px!important;
  font-family: "Dosis", sans-serif !important;}
