.editPetDialog {
  width: 400px;
  margin-top: 40px !important;
}

.contentEditPetDialog {
  display: none;
}
.headerDialogEditPet {
  bottom: 30px !important;
  position: relative;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;

}

.editPetFetchButton {
  margin-bottom: 05px !important;
}

.p-float-label {
  top: 10px;
  margin-bottom: 6px;
  font-size: 15px !important;
  font-family: "Dosis", sans-serif !important;
  font-weight: 100 !important;
}
@media screen and (min-width: 1200px) {
}
