.BackGroundHome {
    width: 100vw;
    position: fixed;
    top: 5%;
    z-index: -100;
    opacity: 60%;


}

.loginForm {
    /*   background-color: red!important; */
    height: 250px !important;
}

.homeBody {
    /*     background-color: red !important; */
    width: 100% !important;
}


@media screen and (max-width: 1024px) {
    .BackGroundHome {
        display: none;

    }

}
body{
    background-color: white !important;
}


.loginButton{
    background-color: red !important;
    width: 150px !important;
    margin: auto;
}

.userRegisterPhoto{
    left: 150% !important;
}

.divUserRegister{
/*     background-color: red !important;
 */    margin-top: 90px !important;
}
.loginForm{
    margin-top: 90px;
}