.gmnoprint {
    background-color: rgba(255, 0, 0, 0.36) !important;
    display: none;
}




#root>div>div>div>div>div>div.form-demo>div>div>form>div:nth-child(9)>div:nth-child(1)>div:nth-child(1)>div>div {
    width: 120px !important;
    height: 120px !important;
    object-fit: contain !important;
    margin-left: 14% !important;
    margin-top: 2% !important;

}

#root > div > div > div > div > div > div.form-demo.formPetFound > div > div > form > div:nth-child(9) > div:nth-child(1) > div:nth-child(1) > div > div > div{
    border-radius: 10px !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
    margin-left: 5% !important;
    
}
