

/* content mapa*/
div.form-demo.formPetFound > div > div > div > div:nth-child(1) > div:nth-child(1) > div > div{

    height: fit-content !important;
    box-sizing: border-box !important;
    position: relative !important;
    border-radius: 40px !important;

}

/* Estilos del mapa*/
#root > div > div > div > div > div > div.form-demo.formPetFound > div > div > div > div:nth-child(1) > div:nth-child(1) > div > div > div{
    border-radius: 40px !important;
    width: 700px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

