.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: rgba(44, 41, 41, 0.105) !important;
    margin-left: 0px !important;
    width: 100vw;
}
.css-i4bv87-MuiSvgIcon-root {
    color: black;
}
.css-1q39md6-MuiButtonBase-root-MuiButton-root {
    color: black !important;
}
.css-1t6c9ts {

    display: flex;
    flex-direction: row;
    justify-content: left;
    left: 40px;
}
.css-1uwgr7b-MuiTypography-root{
    font-size: 0.8rem !important; 
}
.css-6hp17o-MuiList-root-MuiMenu-list{
    background-color: rgba(233, 203, 203, 0.199) !important;

}
.tituloNavBar{
color: black !important;
}