.adTextPetFound {
    font-size: 1rem !important;
    text-align: center;
}

.tittleMap {
    margin-bottom: 0px !important;
    font-size: 1.2rem;
    color: black !important;
    text-align: center;
    position: relative !important;
    bottom: 0px !important;
}

.iconPhotoUpload {
    /*     font-size: 50px !important; */
    font-size: 5rem !important;
    left: -1rem;
}

.submitFoundPet {
    bottom: 6rem !important;
}

.formPetFound {
    /*     background-color: red !important;
 */
    height: 100vh !important;
    /*     background-color: red !important; */
    width: 100% !important;
    margin: auto;

}

.mapaMascotaEncontrada {
    padding: 10px !important;
    height: 210px;
    border-radius: 10px;

}



.formPetRegister {

    margin-bottom: 40px !important;
}








.field {
    width: 90%;
    margin: auto;
}

.submitFoundPet {
    padding: 2%;
    width: 270px !important;
    margin: auto;


}

.iconPhotoUpload {
    /*     font-size: 50px !important; */
    font-size: 5rem !important;
    left: -1rem;
}


.fatherDivPetRegister {
    /*     background-color: red !important; */
    margin-top: 65px !important;
}

#descripcionMascota {
    height: 120px;
}

.descripcionMascota {
    text-align: left !important;
}

@media screen and (min-width: 1024px) {

    .iconPhotoUpload {
        /*     font-size: 50px !important; */
        font-size: 5rem !important;
        left: -5.5rem;
    }

    #root>div>div>div>div>div>div.form-demo.formPetFound>div>div>div {
        height: 4290px !important;
        margin-bottom: 100px !important;
        /*       background-color: red !important; */
    }

    .submitFoundPet {
        width: fit-content !important;
        padding: 20px;
    }


}

@media screen and (max-width: 1024px) {
    .tittleMap {
        margin-bottom: 0px !important;
        font-size: 1.2rem;
        color: black !important;
        text-align: center;
        position: relative !important;
        top: 20px !important;
    }

}
.data-badge{
    color: black !important;
  }