.adTextPetFound {
    font-size: 0.7rem !important;
}

.tittleMap {
    margin-bottom: 5px !important;
    font-size: 0.9rem;
    color: rgba(27, 27, 25, 0.827) !important;
}

.iconPhotoUpload {
    font-size: 50px !important;
    margin-left: 60%;

}

.submitFoundPet {

    bottom: 100px !important
}