/* .card {

    width: 90% !important;
}
 */
.form-demo .card form {
    margin-top: 4rem;
}

.form-demo .card .field {
    margin-bottom: 0.8rem;


}

@media screen and (min-width: 960px) {
    .form-demo .card {
        width: 100%;
    }

    .newPetButton {
        bottom: 60px !important;
    }
}

@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;

    }

    .newPetButton {
        margin-bottom: 40px !important;
        bottom: 1.5rem !important;

    }
}


.fotoMascotaLabel {
    transition: none !important;
    margin-bottom: 40% !important;
    animation: none;
    transition-property: none !important;
    position: fixed;

}

.circle {



    width: fit-content;
}

#fotoMascota {
    opacity: 0%;
    width: 10%;
    margin-bottom: 1% !important;
    /*  background-color: red !important; */
}




.newPetText {
    margin-top: 0px !important;
    color: rgb(133, 117, 117);
    margin-left: 2% !important;
    margin-bottom: -14px;
    text-align: center;
}

.newPetButton {
    margin-bottom: 00px !important;
    background-color: red !important;
    padding: 10px;
    margin-bottom: 50px !important;
    /*     top: 7px !important;
 */
}


@media screen and (min-width: 1024px) {

    .newPetButton {
        bottom: 67px !important;
        width: fit-content !important;
        margin: auto;
        padding: 20px !important;


    }

    .addNewPetForm {
        width: 100% !important;
        margin: auto;
        /*      bottom: 40px !important; */
    }



}

.formPetRegister {

    height: 700px !important;
}



.addNewPetForm {

    margin-top: 0 !important;
    margin-bottom: 40px !important;

}
.photoIconNewPet{
    margin-top: 10px;
    font-size: 70px !important;
    margin-left: 95px !important;
}
@media screen and (min-width: 1600px) {
    .newPetButton {
        bottom: 90px !important;
        width: 600px !important;
        padding: 20px !important;
      
    }

    .addNewPetForm {
        width: 50% !important;
    }
    .photoIconNewPet{
        margin-left: 300px !important;
        font-size: 90px !important;
    }
}