.divAddNewPet {
  height: fit-content !important;
  margin-bottom: 100px;
}
.newPetButton {
  margin: auto !important;
  width: 100px !important;
}
.photoIconNewPet {
  position: relative !important;
  font-size: 60px !important;
  left: 90px !important;
}
