.wrongCredentials {
    color: red;
}

.field-checkbox {
    margin-top: 40px !important;
    color:black !important;
    font-size: 30px !important;
}


.checkBoxx{
    font-size: 20px;
    background-color: white !important;
    padding: 15px;
    border-radius: 10px ;
}