.p-button {
  background-color: #040404 !important;
  border-radius: 10px !important;
  width: 250px;
  height: 5spx !important;
  box-shadow: none !important;
  margin-right: 0px;
  font-size: 12px;
}

.dialog-demo {
  box-shadow: none !important;
  padding: 0 !important;
}

.MuiButtonBase-root {
  color: rgb(255, 255, 255) !important;
}

.MuiList-padding {
  background-color: black !important;
  padding: 10px !important;
}

/* NAVBAR MUI */
.appBarTop {
  position: fixed !important;
  margin-top: 0px !important;
  top: 0px;
  z-index: 4;
}

body {
  margin: auto !important;
}
.newPetButton {
  width: 300px !important;
}
.submitFoundPet {
  margin: auto;
  width: 220px !important;
}

.bottomNavigation {
  padding: 35px;
}

.fatherDivPetRegister {
  margin-bottom: 120px;
}
