.p-button {
  background-color: rgb(0, 0, 0) !important;
  border-radius: 10px !important;
  border-color: black !important;
  width: 250px !important;
  height: 50px !important;
  box-shadow: none !important;
  margin-right: 0px;
  font-size: 12px;
}
.col {
  background-color: transparent !important;
  padding: 0;
}
.dialog-demo {
  box-shadow: none !important;
  padding: 0 !important;
}

.MuiButtonBase-root {
  color: white !important;
}

.MuiList-padding {
  background-color: black !important;
  padding: 10px !important;
}

/* NAVBAR MUI */
.appBarTop {
  position: fixed !important;
  margin-top: 0px !important;
  background-color: black !important;
  top: 0px;
  z-index: 4;
}

body {
  margin: auto !important;
}
.newPetButton {
  width: 300px !important;
}
.submitFoundPet {
  margin: auto;
  width: 220px !important;
}

.bottomNavigation {
  padding: 35px;
}
html {
  margin-bottom: 0px !important;
  margin-top: 10px !important;
}
