@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Roboto:wght@100&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*   font-size: 1.2rem; */


}

* {
  font-family: 'Dosis', sans-serif !important;
  font-size: 1.2rem;

}

.MuiTypography-root {
  font-family: 'Dosis', sans-serif !important;

}

.css-1uwgr7b-MuiTypography-root {
  font-family: 'Dosis', sans-serif !important;
}