@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Roboto:wght@100&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  font-family: "Dosis", sans-serif !important;
}
.p-inputtext {
  font-family: "Dosis", sans-serif !important;
}
button {
  font-family: "Dosis", sans-serif;
}

.p-c {
  font-family: "Dosis", sans-serif !important;
}
.MuiBottomNavigationAction-label {
  font-family: "Dosis", sans-serif !important;
}

.MuiTypography-root {
  font-family: "Dosis", sans-serif !important;
}

.css-1uwgr7b-MuiTypography-root {
  font-family: "Dosis", sans-serif;
}
.MuiButtonBase-root{
  font-family: "Dosis", sans-serif !important;
}
