/* CSS HEX 
--tea-green: #c5dca0ff;
--cotton-candy: #fec9f1ff;
--blue-jeans: #60afffff;
--orange-red-crayola: #fe5f55ff;
--rich-black-fogra-39: #040404ff;
--*/

/* CSS HEX 
--pink-lavender: #cdb4dbff;
--orchid-pink: #ffc8ddff;
--nadeshiko-pink: #ffafccff;
--uranian-blue: #bde0feff;
--baby-blue-eyes: #a2d2ffff; */

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Roboto:wght@100&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  font-family: "Dosis", sans-serif !important;
}
.p-inputtext {
  font-family: "Dosis", sans-serif !important;
}
button {
  font-family: "Dosis", sans-serif;
}

.p-c {
  font-family: "Dosis", sans-serif !important;
}
.MuiBottomNavigationAction-label {
  font-family: "Dosis", sans-serif !important;
}

.MuiTypography-root {
  font-family: "Dosis", sans-serif !important;
}

.css-1uwgr7b-MuiTypography-root {
  font-family: "Dosis", sans-serif;
}
.MuiButtonBase-root {
  font-family: "Dosis", sans-serif !important;
}

html {
  margin-top: 55px !important;
}
